.flex {
    display: flex;
}

.nopadding {
    padding: 0;
}


.padding {
    padding-right: 150px;
    padding-bottom: 0;
}

.fijo {
    position: fixed;
}

h1 {
    justify-content: center;
    display: flex;
}

h2 {
    justify-content: center;
    display: flex;
}

h3 {
    justify-content: center;
    display: flex;
}

h4 {
    justify-content: center;
    display: flex;
}

.gap {
    gap: 120px;
    display: flex;
    justify-content: center;
}

body {
  font-family: "Roboto", sans-serif;
}

.tamanodeimagen img{
    width: 500px;
    height: auto;
}

body {
    margin-right: 100px;
    margin-left: 100px;
}

.gap {
    gap: 120px;
    display: flex;
    justify-content: center;
}